<a href="https://www.instagram.com/igrejacaminharcomcristo/" class="ig-float" target="_blank" rel="noopener noreferrer" aria-label="Seguir a {{ site.church_name }} no Instagram">
  <i class="fa-brands fa-instagram" aria-hidden="true"></i>
</a>
<a href="{{ whatsapp_url }}" class="wa-float" target="_blank" rel="noopener noreferrer" aria-label="Conversar com a {{ site.church_name }} pelo WhatsApp">
  <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
  <span class="wa-float__pulse" aria-hidden="true"></span>
</a>